
/*En-tête du site web.*/
header {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
    /*------------------------*/
    width: 100%;
    z-index: 3;
}

/*Disposition des éléments de l'en-tête.*/
.navbar {
    position: fixed;
    display: flex;
    justify-content: center; /*Distanciation des éléments.*/
    align-items: center;
    padding: 10px;
    width: 100%;
    height: 50px;
}

/*Taille des titres de l'en-tête.*/
.navbar a{
    font-size: 1.8rem;
}

/*Taille du logo dans l'en-tête.*/
.logo img {
    width: 50px;
    height: 50px;
}

.navbar .nav-links ul {
    display: flex;
    margin: 0 300px; /*Distanciation entre les éléments et le logo.*/
}

/*Espacement des éléments de l'en-tête.*/
.navbar .nav-links ul li {
    margin: 0 30px;
}

/*Disposition en rangée des titres de l'en-tête.*/
.navbar ul {
    display: flex;
    flex-direction: row;
}