.calendrier {
    width: 1920px;
    height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8rem;
}

.cadre {
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    background-color: green;
    height: 800px;
    width: 800px;
    gap: 10px;
}

.contenantPorte {
    margin: 15px;
    flex-basis: 25%-15px;
}

.portes {
    /* background-color: red; */
    background-image: url("../../../Sapin.png");
    background-size: cover;
    height: 100px;
    width: 100px;
}

.portes:hover {
    scale: 1.1;
}

.portes:active {
    background-image: url("../../../FondSapin.png");

}

h2 {
    z-index: 100000;
}

.contact-bas-page {
    margin-top: 3rem;
}


/* --------------Edgar;-----------------------*/


.pere-noel {
  position: fixed;
  top: 50px;
  left: -200px;  
  width: 150px;
  z-index: -10;
}

.penguin-footer {
  position: relative;
  width: 100%;
  height: 140px; 
  overflow: hidden; 
}

.pingouin {
  position: absolute;
  bottom: 0;
  left: -200px; 
  width: 120px; 
  transform: rotate(-8deg); 
}


@media (max-width: 800px) {

    .calendrier {
        width: 100%;
        height: auto;
        margin-top: 3rem;
        flex-direction: column;
        padding: 0 1rem;
    }

    .cadre {
        width: 100%;
        height: auto;
        gap: 8px;
        padding: 10px;
        justify-content: center;
    }

    .contenantPorte {
        margin: 8px;
        flex-basis: calc(25% - 8px);
    }

    /* Si tu veux afficher 4 portes par ligne */
    .portes {
        width: 70px;
        height: 70px;
    }

    h2 {
        font-size: 1.2rem;
        text-align: center;
    }

    .contact-bas-page {
        margin-top: 2rem;
    }
  
    .pere-noel img{
  position: fixed;
  top: 50px;
  left: -200px;  
  width: 150px;
  z-index: -10;
  height: 200px;
  width: auto;
}

}

